{% extends 'portfolio/layout.html' %}

{% block main %}
    <h1>Comentários do Artigo {{ artigos.titulo }}</h1>
    {% for comentario in comentarios %}
        <li>Autor: {{ comentario.autor }}<br>
            Comentário: {{ comentario.texto }} <br>
            Likes: {{ comentario.likes }}
            <form action="{% url 'portfolio:dar_like_comentario' comentario.id %}" method="post" class="d-inline">
            {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">Like</button>
            </form>
        </li><br>
        {% empty %}
            <li>Não há comentários.</li>
    {% endfor %}
{% endblock %}