{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="blog">
        <div class="editarArtigo">
        <h3>Editar artigo</h3>
            <form action="{% url 'portfolio:edita' artigo_id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <a href="{% url 'portfolio:blog' %}" role="button">Cancelar</a>
                <input type="submit" value="Gravar" class="btn-gravaredit" >
                <a href="{% url 'portfolio:apaga' artigo_id %}" role="button" class="btn-apagaredit">Apagar</a>
            </form>
        </div>
    </div>
{% endblock %}